@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f9fafb;
  color: #1f2937;
}
.prose h1 {
  font-size: 2.25rem;
  font-weight: bold;
}
.prose article {
  font-size: 1.1rem;
  line-height: 1.8;
}
